<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to IIT Indore</title>
    <style>
        body {
            background-color: rgb(226, 214, 214);
            color: black;
            font-size: 20px;
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
            font-size: 40px;
            margin-top: 20px;
        }
        h2 {
            text-align: center;
            color: black;
            margin-top: 20px;
        }
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid blue;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: blue;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #a39999;
        }
    </style>
</head>
<body>
    <center><h1 style="color:rgb(23, 3, 6)">Welcome to IIT Indore!</h1></center>
    <h2>Courses Available for B.Tech in CSE</h2>

    <h3 >Curriculum of 2nd Year B. Tech. (CSE)</h3>
    <h4>3rd Semester</h4>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Weekly L-T-P</th>
            <th>Credits</th>
        </tr>
        <tr><td>ZZ xxx</td><td>Course-I for Minor Program</td><td>x-x-x</td><td>3</td></tr>
        <tr><td>MA 205</td><td>Complex Analysis</td><td>3-1-0 (1/2 Sem)</td><td>2</td></tr>
        <tr><td>MA 207</td><td>Differential Equations-II</td><td>3-1-0 (1/2 Sem)</td><td>2</td></tr>
        <tr><td>CS 201</td><td>Discrete Mathematical Structures</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 203</td><td>Data Structures and Algorithms</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 207N</td><td>Database and Information Systems</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 209</td><td>Logic Design</td><td>2-0-2</td><td>3</td></tr>
        <tr><td>CS 253</td><td>Data Structures and Algorithms Lab</td><td>0-0-3</td><td>1.5</td></tr>
        <tr><td>CS 257</td><td>Database and Information Systems Lab</td><td>0-0-3</td><td>1.5</td></tr>
        <tr><td>CS 2XX</td><td>Department Elective I</td><td>x-x-x</td><td>3</td></tr>
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>22/25</strong></td>
        </tr>
    </table>
    <h4>4th Semester</h4>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Weekly L-T-P</th>
            <th>Credits</th>
        </tr>
        <tr><td>ZZ xxx</td><td>Course-II for Minor Program</td><td>x-x-x</td><td>3</td></tr>
        <tr><td>MA 204N</td><td>Numerical Methods</td><td>2-0-2</td><td>3</td></tr>
        <tr><td>CS 202</td><td>Automata Theory and Logic</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 204</td><td>Design and Analysis of Algorithms</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 210</td><td>Computer Architecture</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 254</td><td>Design and Analysis of Algorithms Lab</td><td>0-0-3</td><td>1.5</td></tr>
        <tr><td>CS 264</td><td>Computer Architecture Lab</td><td>0-0-3</td><td>1.5</td></tr>
        <tr><td>CS 2XX</td><td>Department Elective II</td><td>x-x-x</td><td>3</td></tr>
        <tr><td>ZZ 2XX</td><td>Institute Elective-I</td><td>x-x-x</td><td>3</td></tr>
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>8-3-8</strong> <strong>21/24</strong></td>
        </tr>
    </table>

    <h3>Curriculum of 3rd Year B. Tech. (CSE)</h3>
    <h4>5th Semester</h4>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Weekly L-T-P</th>
            <th>Credits</th>
        </tr>
        <tr><td>ZZ xxx</td><td>Course-III for Minor Program</td><td>x-x-x</td><td>3</td></tr>
        <tr><td>CS 311</td><td>Parallel Computing</td><td>2-0-2</td><td>3</td></tr>
        <tr><td>CS 303</td><td>Operating Systems</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 307</td><td>Optimization Algorithms and Techniques</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 313</td><td>Computer Networks</td><td>2-0-2</td><td>3</td></tr>
        <tr><td>CS 353N</td><td>Operating Systems Lab</td><td>0-0-2</td><td>1</td></tr>
        <tr><td>CS 357N</td><td>Optimization Algorithms and Techniques Lab</td><td>0-0-2</td><td>1</td></tr>
        <tr><td>CS 3XX</td><td>Department Elective III</td><td>x-x-x</td><td>3</td></tr>
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>20/23</strong></td>
        </tr>
    </table>
    <h4>6th Semester</h4>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Weekly L-T-P</th>
            <th>Credits</th>
        </tr>
        <tr><td>ZZ xxx</td><td>Course IV - Minor Program</td><td>x-x-x</td><td>3</td></tr>
        <tr><td>CS 302N</td><td>Computer Graphics and Visualization</td><td>2-0-2</td><td>3</td></tr>
        <tr><td>CS 304N</td><td>Computational Intelligence</td><td>2-1-0</td><td>3</td></tr>
        <tr><td>CS 310</td><td>Software Engineering</td><td>2-0-2</td><td>3</td></tr>
        <tr><td>CS 308N</td><td>Compiler Techniques</td><td>2-0-2</td><td>3</td></tr>
        <tr><td>CS 354N</td><td>Computational Intelligence Lab</td><td>0-0-3</td><td>1.5</td></tr>
        <tr><td>CS 3XX</td><td>Department Elective IV</td><td>x-x-x</td><td>3</td></tr>
        <tr><td>CS 3XX</td><td>Department Elective V</td><td>x-x-x</td><td>3</td></tr>
        <tr><td>ZZ 3XX</td><td>Institute Elective III</td><td>x-x-x</td><td>3</td></tr>
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>8-1-9</strong> <strong>22.5/26</strong></td>
        </tr>
    </table>

    

    <h3>Curriculum of Final Year B. Tech. (CSE)</h3>
    <h4>7th Semester</h4>

    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Weekly L-T-P</th>
            <th>Credits</th>
        </tr>
        <tr><td>ZZ xxx</td><td>Course-V for Minor Program</td><td>x-x-x</td><td>2</td></tr>
        <tr><td>CS 493N</td><td>B Tech Project (BTP)</td><td>0-0-32</td><td>16</td></tr>
        <tr><td>CS 495</td><td>Internship - I</td><td>x-x-x</td><td>1</td></tr>
        <tr><td>CS 497</td><td>Internship - II</td><td>x-x-x</td><td>1</td></tr>
        <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>18/20</strong></td>
        </tr>
    </table>
    <h4>8th Semester</h4>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Credits</th>
        </tr>
        <tr><td>CS 4XX</td><td>Department Elective VI</td><td>3</td></tr>
        <tr><td>CS 4XX</td><td>Department Elective VII</td><td>3</td></tr>
        <tr><td>ZZ 4XX</td><td>Institute Elective IV</td><td>3</td></tr>
        <tr><td>ZZ 4XX</td><td>Institute Elective V</td><td>3</td></tr>
        <tr><td>ZZ 4XX</td><td>Institute Elective VI</td><td>3</td></tr>
        <tr>
            <td colspan="2"><strong>Total</strong></td>
            <td><strong>X-X-X</strong></td>
        </tr>
    </table>

    <h3>Elective Courses Available for B.Tech Program in CSE</h3>
    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Title</th>
        </tr>
        <tr><td>CS 211</td><td>UX/UI Design (2-0-2-3)</td></tr>
        <tr><td>CS 213</td><td>Matrix Factorization and Applications (2-1-0-3)</td></tr>
        <tr><td>CS 215</td><td>Mathematics for AI and ML (2-1-0-3)</td></tr>
        <tr><td>CS 212</td><td>Foundation of Algebraic Graph Theory (2-1-0-3)</td></tr>
        <tr><td>CS 214</td><td>Foundations of Hardware Security (2-1-0-3)</td></tr>
        <tr><td>CS 216</td><td>Introduction to Blockchain (2-1-0-3) – ½ semester</td></tr>
        <tr><td>CS 315</td><td>Introduction to Complexity Theory (2-1-0-3)</td></tr>
        <tr><td>CS 317</td><td>Introduction to Internet of Things (2-1-0-3)</td></tr>
        <tr><td>CS 319</td><td>Foundations of Cryptography (2-1-0-3)</td></tr>
        <tr><td>CS 321</td><td>Introduction to Big Data Analysis (2-1-0-3)</td></tr>
        <tr><td>CS 312</td><td>Foundations of Secure Computation (2-1-0-3)</td></tr>
        <tr><td>CS 314</td><td>Computer and Network Security (2-1-0-3)</td></tr>
        <tr><td>CS 401 / CS 601</td><td>Soft Computing (2-0-2-3)</td></tr>
        <tr><td>CS 403/ CS 603</td><td>Machine Learning (2-0-2-3)</td></tr>
        <tr><td>CS 404 / EE 304</td><td>Digital Signal Processing (3-1-0-4)</td></tr>
        <tr><td>CS 406 / CS 606</td><td>Data Mining and Data Warehousing (2-0-2-3)</td></tr>
        <tr><td>CS 407</td><td>Peripherals and Interfaces (2-0-2-3)</td></tr>
        <tr><td>CS 408</td><td>Algorithms for Convex Programming (2-0-2-3)</td></tr>
        <tr><td>CS 409 / CS 609</td><td>Advanced Topics in Database Management Systems (2-1-0-3)</td></tr>
        <tr><td>CS 410</td><td>Genetic Algorithms (2-0-2-3)</td></tr>
        <tr><td>CS 411/ CS 611</td><td>Advanced Algorithms (2-0-2-3)</td></tr>
        <tr><td>CS 412/ CS 612</td><td>Pattern Recognition (2-0-2-3)</td></tr>
        <tr><td>CS 413</td><td>Topics in Artificial Intelligence Programming (2-1-0-3)</td></tr>
        <tr><td>CS 414 / CS 614</td><td>Cloud Computing and Applications (2-1-0-3)</td></tr>
        <tr><td>CS 416 / CS 616</td><td>Service Oriented Systems (2-1-0-3)</td></tr>
        <tr><td>CS 417 / CS 617</td><td>Cryptography and Network Security (2-0-2-3)</td></tr>
        <tr><td>CS 418 / CS 618</td><td>Systems and Usable Security (2-1-0-3)</td></tr>
        <tr><td>CS 419 / ICS 419 / CS 619</td><td>Computer Vision (2-1-0-3) [From AY 2016-17 onward, it will be a compulsory course]</td></tr>
        <tr><td>CS 420 / CS 620</td><td>Embedded Systems (2-1-0-3)</td></tr>
        <tr><td>CS 422 / CS 622</td><td>Numerical Simulation (2-1-0-3)</td></tr>
        <tr><td>CS 424</td><td>Functional and Logic Programming (2-0-2-3)</td></tr>
        <tr><td>CS 425 / CS 625</td><td>Natural Language Processing (2-0-2-3)</td></tr>
        <tr><td>CS 426/ CS 626</td><td>Foundations of Cyber-Physical Systems (2-0-2-3)</td></tr>
        <tr><td>CS 427/ CS 627</td><td>Advanced Computer Networks (2-1-0-3)</td></tr>
        <tr><td>CS 428/ CS 628</td><td>Algorithmic Graph Theory (2-1-0-3)</td></tr>
        <tr><td>CS 430/ CS 630</td><td>Data Center Networking (2-1-0-3)</td></tr>
        <tr><td>CS 432/ CS 632</td><td>Reinforcement Learning (2-0-2-3)</td></tr>
        <tr><td>CS 334/ CS 434/ CS 634</td><td>Wireless Networks and Applications (2-1-0-3)</td></tr>
        <tr><td>CS 435/ CS 635</td><td>Deep Learning (2-0-2-3)</td></tr>
        <tr><td>CS 438/ CS 638</td><td>Network Softwarization and Management (2-0-2-3)</td></tr>
        <tr><td>CS 440/640</td><td>Distributed Network Algorithms (2-1-0-3)</td></tr>
        <tr><td>CS 442</td><td>Generative AI (2-1-0-3)</td></tr>
    </table>
</body>
</html>
